:root{
	--size: max(5px, 1vmin);
	--heght: 80em;
	--border-radius: 0.5rem;
	--button-width: 0.333em;
	--ease-out: cubic-bezier(.15, 0, .333, 1);
	--border-width: 0.4em;
    --margin-blocks:4% 4% 4% 0;
}
@-webkit-keyframes appear{
	to{
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}
@keyframes appear{
	to{
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}
body{
	background: #00000a;
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Inter';
	font-size: var(--size);
}
.phone{
	position: relative;
	z-index: 1;
	aspect-ratio: 37/76;
	background: rgb(17, 0, 255);
	height: var(--heght);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	opacity: 0;
	transform: scale3d(1.1, 1.1, 1);
	-webkit-animation: appear 1s var(--ease-out) forwards;
	animation: appear 1s var(--ease-out) forwards;
	-webkit-backface-visibility: hidden;
}
.grid1{
    background: yellow;
    position: relative;
	aspect-ratio: 37/76;
    margin: var(--margin-blocks);
    width: 30%;
    height: 30%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid2{
    background: yellow;
    position: relative;
	aspect-ratio: 37/76;
    margin: var(--margin-blocks);
    width: 30%;
    height: 28%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid3{
    background: yellow;
    position: relative;
	aspect-ratio: 37/76;
    margin: var(--margin-blocks);
    width: 30%;
    height: 16%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid4{
    background: yellow;
    position: relative;
	aspect-ratio: 37/76;
    margin: var(--margin-blocks);
    width: 30%;
    height: 16%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid5{
    background: yellow;
    position: absolute;
    top:0;
    left: 34%;
	aspect-ratio: 37/76;
    margin: 4% 4% 4% 0;
    width: 66%;
    height: 15%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid6{
    background: yellow;
    position: absolute;
    top:17%;
    left: 34%;
	aspect-ratio: 37/76;
    margin: 4% 4% 4% 0;
    width: 66%;
    height: 29%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid7{
    background: yellow;
    position: absolute;
    top:48%;
    left: 34%;
	aspect-ratio: 37/76;
    margin: 4% 4% 4% 0;
    width: 66%;
    height: 29%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.grid8{
    background: yellow;
    position: absolute;
    top:79.6%;
    left: 34%;
	aspect-ratio: 37/76;
    margin: 4% 4% 4% 0;
    width: 66%;
    height: 16%;
	border-radius: var(--border-radius);
    cursor: pointer;
}
.buttons{
	position: absolute;
	inset: calc(var(--border-width) * -1);
	pointer-events: none;
}
.buttons .left, .buttons .right{
	position: absolute;
	width: var(--button-width);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1.5em;
}
.buttons .left{
	right: 100%;
	top: calc(var(--border-radius) * 14);
}
.buttons .left .button{
	height: 6rem;
}
.buttons .right{
	left: 100%;
	transform: scale3d(-1, 1, 1);
	top: calc(var(--border-radius) * 18);
}
.buttons .right .button{
	height: 2rem;
}
.buttons .button{
	background: white;
	height: 6em;
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}


