:root {
	--size: max(5px, 1vmin);
	--heght: 80em;
	--border-radius: 0.3rem;
	--button-width: 0.333em;
	--ease-out: cubic-bezier(.15, 0, .333, 1);
	--border-width: 0.4em;
	--margin-blocks: 4% 4% 4% 0;
	--grid-color: #001aff;
}

body {
	background: #00000a;
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Inter';
	font-size: var(--size);
}

.phone {
	position: relative;
	z-index: 1;
	aspect-ratio: 37/76;
	background: var(--grid-color);
	height: var(--heght);
	border-radius: var(--border-radius);
	box-sizing: border-box;
}

.grid1 {
	background: yellow;
	position: relative;
	aspect-ratio: 37/76;
	margin: var(--margin-blocks);
	width: 30%;
	height: 30%;
	border-radius: var(--border-radius);
	cursor: pointer;
}
.grid2 {
	background: yellow;
	position: relative;
	aspect-ratio: 37/76;
	margin: var(--margin-blocks);
	width: 30%;
	height: 28%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.grid3 {
	background: yellow;
	position: relative;
	aspect-ratio: 37/76;
	margin: var(--margin-blocks);
	width: 30%;
	height: 16%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.grid4 {
	background: yellow;
	position: relative;
	aspect-ratio: 37/76;
	margin: var(--margin-blocks);
	width: 30%;
	height: 16%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.grid5 {
	background: yellow;
	position: absolute;
	top: 0;
	left: 34%;
	aspect-ratio: 37/76;
	margin: 4% 4% 4% 0;
	width: 66%;
	height: 13.7%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.grid6 {
	background: yellow;
	position: absolute;
	top: 15.8%;
	left: 34%;
	aspect-ratio: 37/76;
	margin: 4% 4% 4% 0;
	width: 66%;
	height: 30%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.grid7 {
	background: yellow;
	position: absolute;
	top: 47.85%;
	left: 34%;
	aspect-ratio: 37/76;
	margin: 4% 4% 4% 0;
	width: 66%;
	height: 30%;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.grid8 {
	background: yellow;
	position: absolute;
	top: 79.9%;
	left: 34%;
	aspect-ratio: 37/76;
	margin: 4% 4% 4% 0;
	width: 66%;
	height: 16%;
	border-radius: var(--border-radius);
	cursor: pointer;
}